/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Apr 2023, 11:29:41 pm
    Author     : Eewen
*/

body{
    background-color: #fff8e7;
}

.example{
    font-size:10pt;
}

table{
    border: #80755a solid 2px;
    border-radius:5pt;
    margin:auto;
    padding:10px;
    background-color: rgba(255,255,255,0.9);
}

td{
    padding:5px;
}

.memberAddress{
    padding: 10px;
}

input,select{
    font-size: 15px;
    margin:7px;
}

h1, .subtitle{
    text-align: center;
}

h1{
    color: #664c28;
    margin-bottom: 5px;
}

.subtitle{
    color:grey;
    margin:0px;
}

hr{
    border:solid #9f8170 2px;
}

.adminForm{
    color: #664c28;
}

option:first-child{
    color:lightgrey;
}

.note{
    font-size: 20px;
    color:#922724;
}

.buttons{
    text-align:center;
    padding-top: 10px;
}
    
.submit{
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #c3b091;
    padding:10px 10px;
}

.submit:hover{
    box-shadow: 0px 0px 10px #c3b091;
}

.reset{
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e3dac9;
    padding:10px 10px;
}

.reset:hover{
    box-shadow: 0px 0px 10px #e3dac9;
}