/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 Apr 2023, 2:30:51 am
    Author     : Eewen
*/
body{
    background-color: #fff8e7;
}

.picture{
    text-align: center;
}

.searchbar{
    text-align: center;
}

#asearch, #asearchsubmit{
    padding:10px;
}

#asearch{
    width:30%;
}

#asearchsubmit{
    border-radius: 50%;
    height:60px;
    width:60px;
}

#asearchsubmit.name{
    width:50px;
    height:50px;
}

.home{
    text-align: center;
}

.btnhome{
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #c3b091;
    padding:10px 10px;
}

.btnhome:hover{
    box-shadow: 0px 0px 10px #c3b091;
}