/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 5, 2023, 10:21:27 PM
    Author     : Zoe
*/

body{
    background-color: #fff8e7;
    color: #664c28;
}

.error{
    border: 2px solid black;
    background-color: #d1bea8;
    border-radius: 10px;
    color: #664c28;
    list-style-position: inside;
    padding: 5px;
    margin-left: 10px; 
}

.correct{
    border: 2px solid black;
    background-color: #e3dac9;
    border-radius: 10px;
    color: #664c28;
    list-style-position: inside;
    padding: 5px;
    margin-left: 10px;
}

.hr{
    border: #664c28 solid 2px;
    margin: 25px auto 10px;
    width: 90%;
}

.container{
    display: grid;
    justify-content: center;
    margin: 150px;
}

.atdTable{
    width:40%;
    margin:10% auto 10%;
}

.atdTable table{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.atdTable th{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.atdTable td{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.atdTable tr{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.spacing{
    font-size: 15pt;
    font-family: serif;
}

.spacing td{
    padding: 10px;
}

.reportTable table{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.reportTable tr{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.reportTable th{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.reportTable td{
    border: 2px solid #664c28;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 1px burlywood;
    padding: 20px;
    font-size: 20px;
}

.inputTable{
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 1px burlywood;
    background-color: white;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.sese{
    width:100%; 
    height: 60px; 
    text-align: center;
    font-family: serif;
}

h1{
    margin-top: 20px;
}

td{
    text-align: center;
    padding: 5px;
}

.buttons{
    padding-top: 10px;
    text-align: right;
}

.submit{
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #664c28;
    background-color: #e3dac9;
    padding: 5px 5px;
    margin: 0 5px;
    transition: 300ms linear;
    width: 40%;
}

.reportSubmit{
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #664c28;
    background-color: #e3dac9;
    padding: 5px 5px;
    margin: 0 5px;
    transition: 500ms linear;
    width: 10%;
}

.codeSubmit{
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #664c28;
    background-color: #e3dac9;
    padding: 5px 5px;
    margin: 0 5px;
    transition: 500ms linear;
    width: 20%;
}

.codeSubmit:hover {
    transform: scale(0.9);
    transform: translateY(-0.30em);
}

.reportSubmit:hover {
    transform: scale(0.9);
    transform: translateY(-0.30em);
}

.input{
    border: 2px solid #664c28;
    border-radius: 5px;
    background-color: #e3dac9;
    height: 35px;
}

.submit:hover {
    transform: scale(0.9);
    transform: translateY(-0.30em);
}