/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Apr 2023, 6:21:38 pm
    Author     : Eewen
*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.footer{
    color: #664c28;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #efdfbb;
}

.hrfooter{
    border:solid #9f8170 2px;
    margin:10px 0px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width:60px;
    height:60px;
}

.fa:hover {
    background-color: lightsteelblue;
    color: black;
}

.fa-facebook {
    padding: 20px;
    background: #3B5998;
    color: white;
    transition: 0.45s ease;
}

.fa-instagram {
    padding: 20px;
    background: #b931b6;
    color: white;
    transition: 0.45s ease;
}

.footerdiv{
    width: 25%;
    padding: 20px;
}

.footerDesc{
    color: #664c28;
    font-size: 22px;
    width: 100%;
    background: #efdfbb;
    text-align: center;
    padding: 20px;
}

.footerbody{
    color: #664c28;
    font-size: 25px;
    text-decoration: none;
}

.footercontact{
    display:inline;
    color:#664c28;
}
