/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

body {
    background-color: #fff8e7;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* video */
div.video{
    width:800px;
    height:500px;
    margin:auto;
    margin-bottom:15px;
    border:2.6px solid black;
}

video{
    text-align:center;
    object-fit:fill;
}

/* 3 equal columns(new menu) */
.row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.column {
    float:left;
    height:400px;
    width: 33.33%;
    padding: 15px;
    text-align: center;
}

.column h2{
    text-decoration: none;
    color: darkslateblue;
}

h1.menuWord{
    color:indianred;
}
.column p{
    color:black;
}

div.column{
    margin-top: 0;
    transition: 0.73s;
}

div.column:hover {
    cursor:pointer;
    background-color: darkgrey;
}

img{
    text-align:center;
}

.promotion-banner {
    background-color: #fff8e7;
    color: #333;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.promotion-banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.promotion-banner p {
    font-size: 16px;
    margin-bottom: 20px;
}

.promotion-banner .btn {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.promotion-banner .btn:hover {
    background-color: #555; /* Darker background color on hover */
}