.prodHeader{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prodHeader h1{
    padding:10px;
    padding-left: 60px;
    text-align: left;
    font-size: 50px;
    color: white;
}
.prodHeader a{
    text-decoration: none;
    color:white;
    background-color: black;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-weight: bold;
    border: 5px solid white;
}
.prodPic{
    flex:1;
}
.prodPic img{
    width:500px;
    height:500px;
    margin:20px;
    object-fit: contain;
}
.prodDetails{
    flex: 2;
    margin: 20px;
    padding: 0 30px;
    border-left: 10px solid black;
}
.niceBorder{
    border: 5px black solid;
    margin: 2.5%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
}
.prodDetails p, .prodDetails div{
    margin: 10px;
}

@font-face{
    font-family: Nimbus;
    src:url(../fonts/NimbusRomanW01ExtraBold.ttf);
}
.prodHeader h1{
    font-family: "Nimbus";
}
.prodName{
    font-family: Nimbus;
    font-size: 100px;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.qttSold{
    background-color: black;
    color: white;
    width: auto;
    padding:2px 5px;
    text-align: center;
    font-size: 20pt;
}
.cartBtn{
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    border: 4px solid black;
    background-color: #e3dac9;
    padding:10px 10px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 20px;
    margin: 7px;
}
.cartBtn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cartBtn:active{
    margin: 9px;
    padding: 8px;
    height: 46px;
}
.cartForm form{
    width: 100%;
    height : 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.num{
    margin: 0 -2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border: 5px black solid;
    border-right: 0;
    border-left: 0;
    z-index: -1;
}
.decBtn{
    background-image: url(../pics/productImg/minus.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: contain;
    height: 50px;
    width: 50px;
    margin: 0;
    border-radius: 5px;
    border: black 4px solid;
}
.addBtn{
    background-image: url(../pics/productImg/add.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    border-radius: 5px;
    border: black 4px solid;
}
.prodPrice, .prodStock, .prodDesc{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.prodDesc2{
    font-family: "Times New Roman";
    font-size: 18px;
    padding-left: 5%;
}
.prodDetails hr{
    height: 8px;
    background-color: black;
    width: 90%;
    margin: auto;
}
.prodDetails span{
    margin: 0 10px;
}
.descTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
